.button {
    color: $white;
    font-family: $ff;
    font-size: 16px;
    font-style: normal;
    font-weight: $fw-medium;
    line-height: 24px;

    &.dark {
        padding: 12px;
        background-color: $dark-bg;
        backdrop-filter: $blur;
        border-radius: $bord15;
        transition: opacity ease $tr;

        @media all and (min-width: $sm) {
            padding: 12px 24px;
        }

        &:hover {
            opacity: $op;
        }

        &:active {
            opacity: 1;
        }
    }

    &.blue {
        padding: 16px 24px;
        background-image: url('../../img/ui/btn-bg.png');
        background-color: $accent;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: $bord20;
        transition: scale ease $tr;

        @media all and (min-width: $sm) {
            padding: 16px 48px;
        }

        &:hover {
            scale: 1.04;
         }

        &:active {
            opacity: 1;
        }
    }
}