.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
   
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(180deg, #00000000 27.05%, rgba(0, 0, 0, 0.815) 100%);
    }

	.h1 {
		animation: heroH1 forwards $tr ease;

		@keyframes heroH1 {
		  0% {
			opacity: 0;
			transform: translateX(-100%);
		  }
	
		  100% {
			opacity: 1;
			transform: translateX(0);
		  }
		}
	}

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

		animation: heroBg forwards 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

		@keyframes heroBg {
		  0% {
			opacity: 0;
		  }
	
		  100% {
			opacity: 1;
		  }
		}
    }

    &__info {
        width: 100%;
        max-width: 590px;
        padding-bottom: 2vw;

        p {
            width: 100%;
            max-width: 523px;
            margin-bottom: 32px;

            @media all and (min-width: $lg) {
                margin-bottom: 52px;
            }

			animation: heroP forwards 0.5s ease;

			@keyframes heroP {
			  0% {
				opacity: 0;
				transform: translateX(-100%);
			  }

			  35% {
				opacity: 0;
			  }
		
			  100% {
				opacity: 1;
				transform: translateX(0);
			  }
			}
        }

		.button {
			animation: heroBtn forwards 0.7s ease;

			@keyframes heroBtn {
			0% {
				opacity: 0;
				transform: translateX(-100%);
			}
		
			100% {
				opacity: 1;
				transform: translateX(0);
			}
			}
		}
    }
}