.nfts {
    background-color: $black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .nft {
        width: 100%;
        max-width: 1200px;
        height: 485px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;

        @media all and (min-width: $lg) {
            height: auto;
            justify-content: center;
            flex-direction: row;
        }

        &__img {
            width: 390px;
            height: 364px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: auto;

            @media all and (min-width: $lg) {
                width: 590px;
                 height: 590px;
            }
           
            &_inner {
                width: 327px;
                height: 348px;

                @media all and (min-width: $lg) {
                    width: 514px;
                    height: 514px;
                }
            }
        }

        &__bg {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            object-fit: contain;
        }

        &__text {
            width: 100%;
            max-width: 488px;
            color: $white;
            font-family: $ff;
            font-size: 20px;
            font-style: normal;
            font-weight: $fw-regular;
            line-height: 24px;

            @media all and (min-width: $lg) {
                font-size: 32px;
                margin-right: 20px;
                line-height: 36px;
            }
        }
    }

    .swiper {
        overflow: visible;

        &-slide {
            transition: opacity ease $tr;
            &-prev, &-next {
                opacity: 0.1;
            }
        }
    }
}