.slots {
    background-color: $black;
    height: 100dvh;
    padding-top: 50px;

    .h2 {
        margin-bottom: 40px;
        width: 100%;
        max-width: 350px;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    &__img {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .swiper {
        width: 100%;
        overflow: visible;

        &-slide {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }
}