.section.second-anim.active {
    .h2 {
        animation: slotsH1 forwards 1s ease;

        @keyframes slotsH1 {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }
}

.slots {
    background-color: $black;
    padding-top: 50px;
    position: relative;
    z-index: 10;
    height: 100%;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(180deg, #000000d0 27.05%, rgba(0, 0, 0, 0.815) 100%);
    }

    .container {
        width: 100%;
    }

    .h2 {
        margin-bottom: 40px;
        width: 100%;
        max-width: 350px;
    }

    &__slides {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__img {
        width: 100%;
        height: auto;
        overflow-y: hidden;
        position: relative;

        @media all and (min-width: $sm) {
            width: 70%;
        }

        @media all and (min-width: $lg) {
            width: 40%;
        }

        .new-slot {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;

        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    .swiper {
        overflow: visible;
        width: 100%;
        max-width: 1200px;

        &-slide {
            transition: scale ease 10s,
            transform ease 10s;

            &.animated {
                animation: forSlot 8s forwards ease;

                @keyframes forSlot {
                    0% {
                        scale: 1;
                        transform: translateY(0);
                    }

                    90% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 0;
                        scale: 1.8;
                        transform: translateY(15%);
                    }
                }

                @media all and (min-width: $sm) {
                    @keyframes forSlot {
                        0% {
                            scale: 1;
                            transform: translateY(0);
                        }
    
                        90% {
                            opacity: 1;
                        }
    
                        100% {
                            opacity: 0;
                            scale: 2.5;
                            transform: translateY(15%);
                        }
                    }    
                }

                @media all and (min-width: $lg) {
                    @keyframes forSlot {
                        0% {
                            scale: 1;
                            transform: translateY(0);
                        }
    
                        90% {
                            opacity: 1;
                        }
    
                        100% {
                            opacity: 0;
                            scale: 3.5;
                            transform: translateY(15%);
                        }
                    }    
                }

                @media all and (min-width: 1500px) {
                    @keyframes forSlot {
                        0% {
                            scale: 1;
                            transform: translateY(0);
                        }
    
                        90% {
                            opacity: 1;
                        }
    
                        100% {
                            opacity: 0;
                            scale: 5.8;
                            transform: translateY(15%);
                        }
                    }    
                }

                .slot {
                    .prev-slot {
                        animation: prevSlot forwards 4s ease;

                        @keyframes prevSlot {
                            0% {
                                position: static;
                            }

                            99% {
                                position: static;
                            }
                            100% {
                               display: none;
                            }
                        }
                    }

                    .new-slot {
                        animation: newSlot forwards 4s ease;
                        animation-delay:1.5s;

                        @keyframes newSlot {
                            0% {
                                z-index: 0;
                                opacity: 0;
                            }

                            50% {
                                z-index: 10;
                                opacity: 1;
                            }

                            100% {
                                z-index: 10;
                            }
                        }
                    }
                }
            }

            &.closed {
                animation: forSlotClose 6s forwards ease;

                @keyframes forSlotClose {
                    0% {
                        opacity: 0;
                        scale: 6;
                        transform: translateY(15%);
                    }

                    75% {
                        opacity: 1;
                    }

                    100% {
                        scale: 1;
                        transform: translateY(0);
                    }
                }              
            }
        }

        &-pagination {
            display: flex;
            justify-content: center;
            position: absolute;
            top: auto;
            left: 0;
            bottom: 10vh;
            right: auto;

            &-bullet {
                width: 8px;
                height: 8px;
                opacity: 1;
                background-color: rgba(255, 255, 255, 0.10);
                transition: width ease 1s, border-radius ease $tr,
                        background-color ease 1s;

                &-active {
                    border-radius: 10px;
                    width: 24px;
                    background-color: $accent;
                }
            }

            @media all and (min-width: $lg) {
                display: none;
            }
        }
    }

    .slot {
       display: flex;
       align-items: flex-end;
        position: relative;

        .slot__shadow1 {
            width: 500px;
            height: 500px;
            position: absolute;
            left: 30%;
            top: 0;            
            z-index: -1;

            @media all and (min-width: $md) {
                left: 30%;
                top: 0;  
                width: 1000px;
                height: 1000px;
            }

            @media all and (min-width: $lg) {
                transform: translate(-50%,-50%);
                left: 50%;
                top: 50%;  
                width: 100%;
                height: auto;
            }
        }

        .slot__shadow2 {
            width: 500px;
            height: 500px;
            position: absolute;
            left: 80%;
            top: 10%;
            z-index: -1;

            @media all and (min-width: $md) {
                left: -20%;
                top: 0;  
                width: 1500px;
                height: 800px;
            }

            @media all and (min-width: $lg) {
                transform: translate(-50%,-50%);
                left: 50%;
                top: 50%;  
                width: 100%;
                height: auto;
            }
        }
    }
}