.section.second-anim.active {
    .h2 {
        animation: slotsH1 forwards 1s ease;

        @keyframes slotsH1 {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }
}

.slots {
    background-color: $black;
    padding-top: 50px;
    position: relative;
    z-index: 10;
    height: 100%;
    overflow: hidden;

    .noise {
        position: absolute;
        left: 0;
        top: 0;
        width: 200vw;
        height: 100vh;
        mix-blend-mode: overlay;
        z-index: 3;
        pointer-events: none;
    }

    .container {
        padding: 0;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(180deg, #000000d0 27.05%, rgba(0, 0, 0, 0.815) 100%);
    }

    .container {
        width: 100%;
    }

    .h2 {
        margin-bottom: 40px;
        width: 100%;
        max-width: 350px;

        &__wrapper {
            position: absolute;
            left: 50%;
            top: 2vw;
            transform: translateX(-50%);
        }
    }

    &__slides {
        display: flex;
        justify-content: center;
    }

    &__img {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        position: relative;

       &.new__img {
		position: absolute;
		left: 0;
		top: 0;
       }

        picture {
            width: 100vw;
            height: 100vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: 100vh;
            position: relative;
        }
    }

    .swiper {
        overflow: visible;
        width: 100%;
        max-width: 1200px;

        &-slide {
            transition: scale ease 8s,
            transform ease 8s;

            &.animated {
                animation: forSlot 8s forwards ease;

                @keyframes forSlot {
                    0% {
						scale: 1;
					}

					90% {
						opacity: 1;
					}

					100% {
						opacity: 0;
						scale: 2;
					}
                }

                @media all and (min-width: $sm) {
                    @keyframes forSlot {
                        0% {
                            scale: 1;
                        }
    
                        90% {
                            opacity: 1;
                        }
    
                        100% {
                            opacity: 0;
                            scale: 3;
                        }
                    }    
                }

                @media all and (min-width: $lg) {
                    @keyframes forSlot {
                        0% {
                            scale: 1;
                        }
    
                        90% {
                            opacity: 1;
                        }
    
                        100% {
                            opacity: 0;
                            scale: 3.5;
                        }
                    }    
                }

                @media all and (min-width: 1500px) {
                    @keyframes forSlot {
                        0% {
                            scale: 1;
                        }
    
                        90% {
                            opacity: 1;
                        }
    
                        100% {
                            opacity: 0;
                            scale: 4;
                        }
                    }    
                }

                .slot {
                    .prev-slot {
                        animation: prevSlot forwards 4s linear;

                        @keyframes prevSlot {
                            0% {
                                opacity: 1;
                            }


                            100% {
                                opacity: 0;
                            }
                        }
                    }

                    .new-slot {
                        animation: newSlot forwards 8s linear;

                        @keyframes newSlot {
							0% {
								opacity: 0;
							}

							50% {
								opacity: 1;
							}

							100% {
								opacity: 1;
							}
						}
                    }
                }
            }

            &.closed {
                animation: forSlotClose 8s forwards linear;

                @keyframes forSlotClose {
                    0% {
                        opacity: 0;
                        scale: 4;
                    }

                    50% {
                        opacity: 1;
                    }

                    100% {
                        scale: 1;
                    }
                }
                
                .new-slot {
                    animation: newSlotClose forwards 8s ease;

                    @keyframes newSlotClose {
						0% {
							opacity: 1;
						}

						100% {
							opacity: 0;
						}
                    }
                }

                .prev-slot {
                    animation: prevSlotClose forwards 4s linear;

                    @keyframes prevSlotClose {
                        0% {
                            opacity: 0;
                        }

                        100% {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &-pagination {
            display: flex;
            justify-content: center;
            position: absolute;
            top: auto;
            left: 0;
            bottom: 10vh;
            right: auto;

            &-bullet {
                width: 8px;
                height: 8px;
                opacity: 1;
                background-color: rgba(255, 255, 255, 0.10);
                transition: width ease 1s, border-radius ease $tr,
                        background-color ease 1s;

                &-active {
                    border-radius: 10px;
                    width: 24px;
                    background-color: $accent;
                }
            }

            @media all and (min-width: $lg) {
                display: none;
            }
        }
    }

    .slot {
       display: flex;
        align-items: flex-end;
        position: relative;
    }
}